@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

.barra_menu{
    display: flex;
    gap: 28px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: space-between;
    padding: 1.5vh;
    background-color: #000000;
    color: #ffffff;
}

.listamenu{
    display: flex;
    color: #ffffff;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}

.barra_botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9vh;
    padding: 10vh 40vh;
    border-radius: 4px;
    margin: 8px;
    background-image: linear-gradient(#dadada, #C1BCFF);
    box-shadow: 2px 2px 5px #a5a5a5;
    
}

.botao{
    background-color: #837AFE;
    width: 218px;
    text-align: center;
    border-radius: 20px;
    padding: 20px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    box-shadow: 3px 3px 0 #909090;
}

.botao:active {
    background-color: #BFBAFF;
}

.barra_pedidos_realizados{
    display: flex;
    flex-direction: column;
    height: 46vh;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
    margin: 8px;
    background-image: linear-gradient(#dadada, #C1BCFF);
    box-shadow: 2px 2px 5px #a5a5a5;
}

footer{
    display: flex;
    align-items: flex-end;
    background-color: #909090;
    justify-content: center;
    height: 7vh;
}

/* Style cadastro_produto.html */

.titulo_sub{
    background-color: #909090;
    text-align: center;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    padding: 1.5vh;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #a5a5a5;
}

#formproduto_sub [type=text], [type=tel], select{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

#formproduto_sub [type=text], [type=tel]:focus{
    outline-color: red;
}

select:focus{
    outline-color: red;
}

#formcliente_sub{
    align-content: space-between;
    gap: 10px 30px;
}

#formcliente_sub [type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

#formcliente_sub [type=tel] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

#formcliente_sub [type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.barraformproduto_sub{
    border-radius: 5px;
    background-color: #DADADA;
    padding: 20px;
    margin: 8px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 2px 2px 5px #a5a5a5;
}

.barraformcliente_sub {
    border-radius: 5px;
    background-color: #DADADA;
    padding: 20px;
    margin: 8px;
    max-height: 296px;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}

#tabeladecadastro td, 
#tabeladecadastro th,
#tabelacliente td,
#tabelacliente th {
    border: 1px solid;
    padding: 8px;
}

#tabeladecadastro th,
#tabelacliente th {
    text-align: left;
    text-transform: uppercase;
    background-color: lightblue;
}

#tabeladecadastro,
#tabelacliente{
    width: 100%;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif; 
}

.barratabela_sub{
    background-color: #C1BCFF;
    max-width: 100%;
    height: 45vh;
    max-height: 45vh;
    margin: 8px;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 2px 2px 5px #a5a5a5;
}

input[type=submit],[type=button] {
    background-color: #837AFE;
    color: black;
    font-family: "Montserrat", sans-serif;
    width: 150px;
    border-radius: 10px;
    padding: 8px 0;
    cursor: pointer;
}

.barrabotao_sair{
    background-color: #909090;
    margin: 8px;
    padding: 1.5vh;
    padding-right: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #a5a5a5;
}

.botao_cadastrar, .barrabotao_sair{
    display: flex;
    justify-content: end;
    gap: 30px;
}

/*fim cadastro_produto.html*/

/* toggle */

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #DADADA;
    border-radius: 1.6rem;
    width: 4.8rem;
    height: 2.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.0rem;
    height: 2.0rem;
    position: absolute;
    top: 0.1rem;
    left: 0.3rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #837AFE;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 2.5rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* fim toggle */