<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <title>Document</title>

</head>

<body>
        <H1 class="titulo_sub">CADASTRAR PRODUTO</H1>
        <div class="formulario_subcadastro">
            <form action="/formulariocadastro" method="POST">
                <label for="tipodeproduto">TIPO DE PRODUTO</label>
                <select name="tipodeproduto" id="tipodeproduto" required>
                    <option value="selecione">Selecione</option>
                    <option value="Pizza">Pizza</option>
                    <option value="Hamburguer">Hambúrguer</option>
                    <option value="Esfiha">Esfiha</option>
                    <option value="Hotdog">HotDog</option>
                    <option value="Pastel">Pastel</option>
                    <option value="Espetinho">Espetinho</option>
                    <option value="Salgados">Salgados</option>
                    <option value="Marmitex">Marmitex</option>
                    <option value="Lanchenatural">Lanche Natural</option>
                    <option value="Tapioca">Tapioca</option>
                    <option value="Japonesa">Japonesa</option>
                    <option value="Acai">Açai</option>
                    <option value="Sobremesas">Sobremesas</option>
                    <option value="Bebidas">Bebidas</option>
                </select>
                <label for="descricaoProduto">DESCRIÇÃO DO PRODUTO</label>
                    <input type="text" id="descricaoProduto" name="descricaoProduto" required>
                <label for="valor">VALOR</label>
                    <input type="text" id="valor" name="valor" required>
                <div class="botao_cadastrar">
                    <input type="submit" value="CADASTRAR">
                </div>
            </form>
        </div>

        <div class="barra_sub">
            <table id="tabeladecadastro">
                <thead>
                    <tr>
                        <th><strong>Id</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Descrição</strong></th>
                        <th><strong>Valor</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- dados da API Produtos-->
                </tbody>
            </table>
        </div>
        
        <div class="botao_sair">
            <input type="button" onclick="window.close()" value="VOLTAR">
        </div> 

        <script src="/tabelas.js"></script>
</body>
</html>