<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo_sub">CADASTRAR CLIENTE</h1>
    <div class="formulario_subcliente">
        <form action="/formulariocliente" method="POST">
            <label for="">Telefone</label>
            <input type="tel">
            <label for="">Nome</label>
            <input type="text">
            <label for="">Cep</label>
            <input type="number">
            <label for="">Endereço</label>
            <input type="text">
            <label for="">Numero</label>
            <input type="number">
            <label for="">Bairro</label>
            <input type="text">
            <label for="">Complemento</label>
            <input type="text">
            <div class="botao_cadastrar">
                <input type="submit" value="CADASTRAR">
            </div>
        </form>
    </div>
    <div class="barra_sub">

    </div>
    <div class="botao_sair">
        <input type="button" onclick="window.close()" value="VOLTAR">
    </div>
</body>
</html>