<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <script src="/main.js" defer></script>
    <title>PDV Delivery</title>
    <link rel="icon" type="image/x-icon" href="/images/iconIndex.png">
</head>

<body>

    <header>
        <div class="barra_menu">
            <div class="nomerestaurante">
                <p>{NOME DO RESTAURANTE}</p>
            </div>
            <nav class="botoesnav">
                <ul class="listamenu">
                    <li><a href="">Menu</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Sair</a></li>
                </ul>
                <label class="toggle">Abrir Restaurante:
                    <input class="toggle-checkbox" type="checkbox">
                    <div class="toggle-switch"></div>
                </label>
            </nav>
        </div>  
    </header>

    <section class="barra_botoes">
        <a href="#" class="botao botao_novopedido">NOVO PEDIDO</a>
        <a href="#" class="botao botao_sangria">SANGRIA</a>
        <a class="botao botao_cadastrarproduto">CADASTRAR PRODUTO</a>
        <a href="#" class="botao botao_cadastrarcliente">CADASTRAR CLIENTE</a>
        <a href="#" class="botao botao_icon">PAGAMENTO</a>
        <a href="#" class="botao botao_cardapio">CARDAPIO</a>
        <a href="#" class="botao botao_icon">RELATÓRIOS</a>
        <a href="#" class="botao botao_icon">GERENCIAR</a>
    </section>

    <main class="barra_pedidos_realizados">
        <section>
            <h2></h2>
        </section>
    </main>

    <footer class="dadosapp">
        <p>PDVdelivery - Todos os direitos reservados</p>
    </footer>
</body>
</html>