<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <script src="/main.js" defer></script>
    <title>PDV Delivery</title>
</head>

<body>

    <header>
        <nav class="barra_menu">
            <button class="botao_menu" href="">
                <img src="/image/menuBar.png" title="Menu">
            </button>
            <h1>NOME DO RESTAURANTE</h1>

            <label class="toggle">Abrir Restaurante:
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
            <input class="sairIndex" type="button" value="Sair">
        </nav>  
    </header>

    <section class="barra_botoes">
        <a href="#" class="botao botao_novopedido">NOVO PEDIDO</a>
        <a href="#" class="botao botao_sangria">SANGRIA</a>
        <a class="botao botao_cadastrarproduto">CADASTRAR PRODUTO</a>
        <a href="#" class="botao botao_cadastrarcliente">CADASTRAR CLIENTE</a>
        <a href="#" class="botao botao_icon">PAGAMENTO</a>
        <a href="#" class="botao botao_cardapio">CARDAPIO</a>
        <a href="#" class="botao botao_icon">RELATÓRIOS</a>
        <a href="#" class="botao botao_icon">BOTAO</a>
    </section>

    <main class="barra_pedidos_realizados">
        <section>
            <h2>Pedidos realizados</h2>
        </section>
    </main>

    <footer class="dadosapp">
        <p>PDVdelivery - Todos os direitos reservados</p>
    </footer>
</body>
</html>